.dogTable { 
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 3em 0;
    padding: 0;}

thead {
    border-bottom: 2px solid black;
}

/* th, td 
    {
        box-sizing: border-box;
        flex-grow: 1;
        width: 100%;  // Default to full width
        padding: 0.8em 1.2em;
        overflow: hidden; // Or flex might break
        list-style: none;
        border: solid @bw white;
        background: fade(slategrey,20%);
        > h1, > h2, > h3, > h4, > h5, > h6 { margin: 0; }
      } */



.postLink {
    font-size: 42px;
}

html {
    height: 100%;
}