.button {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    align-content: center; 
    box-shadow: none;
    border-radius: 6px;
    background-color: rgb(2, 180, 2);
}

.button:hover {
    background-color: rgb(159, 255, 159);
    color: #3d3d3d;
    text-decoration: none;
}