.loginWrapper {
    margin-top: 10%;
    display: flex;
    flex-direction: row;
}

.loginBox {
    margin-right: 35vw;
    margin-left: 35vw;
    text-align: center;
    background-color: white;
    padding-bottom: 100px;
}

.loginBox h1 {
    font-size: 3rem;
    font-weight: 700;
    color: blue;
    padding-top: 3rem;
    padding-bottom: 1rem;
}

.loginBox h3 {
    padding-bottom: 1rem;
}

.divider {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    margin-bottom: 5rem;
}

.google {
    display: inline-flex;
}