.avatar {
    height: 200px;
    width: 200px;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

img {
    display: flex;
}

.myPosts {
    margin-top: 100px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-left: 150px;
    padding-right: 150px;
}

.myPosts h1 {
    font-size: 60px;
    text-align: center;
    text-decoration: underline;
    color: blue;
}