.jumbotron {
    background-color:rgba(63, 189, 191, 0.1);
    padding-top: 0px;
}

p {
    font-size: 20px;
    font-weight: bold;
}

h2 {
    text-align: center;

}

.display-3 {
    font-size: 3.5rem;
    font-weight: 200;
    line-height: 1.2;
}

body {
    background-image: url("../Content/noise_pattern_with_crosslines.png");
}
